@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html a {
  text-decoration: none;
  color: unset;
}

html ul {
  margin: 0;
  list-style-type: none;
}

html p {
  margin: 0;
}

html figure {
  margin: 0;
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  margin: 0;
}
